*.ipynb_checkpoints*
*/logs/
*_minted*
*__pycache__*
/python/*/*checkpoints*
/python/attngan/DAMSMencoders/*
/python/*/datasets/
/python/datasets/*/attributes*
/python/datasets/*/buffer/
/python/datasets/*/images/
/python/datasets/*/training/
/python/*/*output*
/python/images/
/python/training/
/python/__pycache__/
/python/*/__pycache__/
*.vscode/
